<div class="header">
  <div *ngIf='totalNumbers < minimumTotal || totalNumbers > maximumTotal' id='snackbar'> Minimum total amount of numbers to generate is {{ minimumTotal }} and maximum is {{ maximumTotal }}</div>
  <nav class="navbar">
    <ul>
      <li class='appname'>Random Number Generator</li>
      <li class='right menuitems'>
        <button id='download' (click)='downloadFile()'>Download</button>
      </li>
      <li class='right menuitems'>
        <button id='generatenum' *ngIf='totalNumbers >= minimumTotal && totalNumbers <= maximumTotal' (click)='createNumbers()'> Generate Numbers</button>
        <button id='generateNumbers' *ngIf='totalNumbers < minimumTotal || totalNumbers > maximumTotal || !totalNumbers' (click)='createNumbers()' disabled> Generate Numbers</button>
      </li>
      <li class='right menuitems'>
        <label>Sort:
          <select id='sort' name='sort' (change)='orderNumbers($event.target.value)'>
            <option *ngFor='let order of sortOrderList' [value]='order.value' name='order' [id]='order.value'>{{ order.name }}</option>
          </select>
        </label>
      </li>
      <li class="right menuitems">
        <label>Total:
          <input type='number' name='totalNumbers' [(ngModel)]='totalNumbers' placeholder="10000">
        </label>
      </li>
      <li class='right menuitems'>
        <span>Maximum: &nbsp;</span>
        <span class='number'>{{ maximumNumber }}</span></li>
      <li class="right menuitems">
        <span>Minimum:&nbsp;</span>
        <span class='number'>{{ minimumNumber }}</span>
      </li>
    </ul>
  </nav>
</div>
